.cardHistorico {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.textoCard {
  margin-right: 35px;
}

.nomeDoador {
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.dataHora {
  font-size: clamp(12px, 2vw, 15px);
  font-weight: bold;
  color: black;
  margin-top: 5px;
}

.valor {
  font-size: clamp(16px, 2.5vw, 20px);
  color: #1A4E80;
  margin-right: 10px;
}