body, html {
  height: 100%;
  margin: 0;
}

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6eef4;
  margin-bottom: 60px;
}


.login-container {
  background-color: #e6eef4;
  color: #003866;
  font-family: Arial, sans-serif;
  padding: 40px 60px;
  max-width: 400px;
  margin: 40px auto 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 56, 102, 0.2);
  text-align: center;
}

.login-container h1 {
  color: #1a4d80;
  margin-bottom: 20px;
}

.login-form input {
  width: 90%;
  max-width: 320px;
  margin: 0 auto 15px;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #003866;
  border-radius: 6px;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  background-color: #003866;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #1a4d80;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  background-color: #003866;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  max-width: 300px;
  width: 100%;
  margin: 0 auto 20px;
}

.login-button:hover {
  background-color: #1a4d80;
}

.login-button img {
  width: 20px;
  height: 20px;
}

.ou-texto {
  margin: 10px 0;
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
}


@media (max-width: 480px) {
  .login-container {
    padding: 30px 20px;
    max-width: 90%;
  }

  .login-container h1 {
    font-size: 1.8rem;
  }

  .login-form input,
  .login-form button,
  .login-button {
    font-size: 0.9rem;
    padding: 10px;
  }

  .login-button img {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .login-container {
    padding: 40px 30px;
    max-width: 450px;
  }

  .login-container h1 {
    font-size: 2.2rem;
  }

  .login-form input,
  .login-form button,
  .login-button {
    font-size: 1rem;
    padding: 12px;
  }
}

@media (min-width: 1440px) {
  .login-container {
    max-width: 500px;
    padding: 50px 70px;
  }

  .login-container h1 {
    font-size: 2.8rem;
  }

  .login-form input,
  .login-form button,
  .login-button {
    font-size: 1.1rem;
    padding: 14px;
  }

  .login-button img {
    width: 24px;
    height: 24px;
  }
}
