.footer {
  position: relative;
  margin-top: auto;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #1A4E80;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  z-index: 1000; /* garante que fique acima do conteúdo */
}

.footer-copy {
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-link:hover {
  text-decoration: underline;
  color: #ccc;
}
.main-content {
  padding-bottom: 60px;
}
