.card-instituicao {
    width: 94%;
    height: 95%;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10%;
    border-radius: 40px;
}


.card:hover {
    transform: translateY(-5px);  /* Levanta o card ao passar o mouse */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);  /* Aumenta a sombra para dar efeito de profundidade */
}

.imgs {
    width: 70%;  
    height: 70%;  
    border-radius: 15px;  
    margin: 5% 15% 0% 15%;  
}

h2 {
    margin: 10px 0;
    font-size: 2.5vw;  /* Ajuste o tamanho do título */
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;  /* Centraliza o texto */
    opacity: 0.8;  /* Deixa o título levemente transparente */
    transition: opacity 0.3s ease;  /* Transição suave no hover */
}

.card:hover h2 {
    opacity: 1;  /* Aumenta a opacidade do título ao passar o mouse */
}

.botao {
    background-color: #1a4e80;
    border: solid 2px #1a4e80;
    color: white;
    font-weight: bold;
    width: 95%;
    height: 15%;
    margin:  5% 0 2% 0;  /* Margem superior para espaçamento */
    font-family: 'Fenix', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 3vh;
    line-height: 1.5;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;  /* Transição suave ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Adicionando sombra sutil */
    cursor: pointer;
}
.botao:hover {
    background-color: white;
    color: #1a4e80;
    border: 2px solid #1a4e80;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.botao:active {
    transform: translateY(1px);
}

.botao:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(26, 78, 128, 0.4);
}
